<div class="player-details-container">
  <div class="field">Name: {{ player.firstName }} {{ player.lastName }}</div>
  <div class="field">Rating: {{ player.rating }}</div>

  <div *ngFor="let field of fields">
    <div class="skills-label-container">
      <label id="agility-name-label">{{ field.name | titlecase }}</label>
      <label class="skill-value-label">{{player.skills[field.value]}}</label>
    </div>
    <mat-slider [max]="max" [min]="min" [step]="step" [showTickMarks]="showTicks">
      <input matSliderThumb [(ngModel)]="player.skills[field.value]" [name]="field.value">
    </mat-slider>
  </div>
  
</div>

<div class="action-container">
  <button class="btn btn-primary btn-block left" (click)="close()">CANCEL</button>
  <button class="btn btn-primary btn-block right" (click)="save()">SAVE</button>
</div>
