<div class="details-container">
  
  <div class="page-header">
    <h2>{{ division.name | titlecase }}</h2>
    <p>{{ division.description }}</p>
  </div>

  <div class="session-container">
    <div class="header">
      Sessions
    </div>

    <table class="list-table">

      <thead>
        <th>Name</th>
        <th>Start Date</th>
        <th>Season</th>
        <th>Teams</th>
        <th>Players</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>

      <tbody>
        <tr *ngFor="let session of sessions$">
          <td>{{ session.name }}</td>
          <td>{{ session.startDate.toLocaleString() }}</td>
          <td>{{ session.season }}</td>
          <td>{{ session.teams.length }}</td>
          <td>{{ session.playerCount }}</td>
          <td>{{ session.status | titlecase }}</td>
          <td>
            <button mat-icon-button (click)="viewSession(session)" class="table-action-button">
              <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button (click)="editSession(session)" class="table-action-button">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteSession(session)" class="table-action-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>

    </table>

    <div class="action-container">
      <button mat-icon-button (click)="addSession()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

</div>

<div class="footer">
  <button mat-raised-button class="center" (click)="close()">DONE</button>
</div>
