@use '@angular/material' as mat;

.list-container {
  height: calc(100% - 24px);
  overflow-y: auto;
  width: calc(100% - 24px);
  padding: 12px;

  .list-item {
    width: calc(100% - 12px);
    padding: 14px 0;
    margin: 6px 6px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #616161;
    cursor: pointer;
    @include mat.elevation(3);
  }

  .list-item:hover {
    @include mat.elevation(6);
  }
}

@media (min-width: 601px) {
  .list-container {
    height: calc(100% - 24px);
    width: 350px;
    padding: 12px;
    margin: 0 auto;

    .list-item {
      padding: 8px 0;
      margin: 6px 6px;
      font-size: 24px;
    }
  }
}

@media (max-width: 600px) {
  .list-container {
    height: calc(100% - 16px);
    width: calc(100% - 16px);
    padding: 8px;

    .list-item {
      padding: 8px 0;
      margin: 4px 4px;
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {
  .list-container {
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    padding: 4px;

    .list-item {
      padding: 4px 0;
      margin: 2px 2px;
      font-size: 16px;
    }
  }
}

